.nav-item a {
    color: #232732;
    text-align: center;
}

.darkBlue {
    color: #232732;
}

.purple {
    color: #4A2A39;
}

.green {
    color: #A3CDBC;
}

.grey {
    color: #7B8693;
}

.blue {
    color: #33C3C0;
}

.darkBlue-bg {
    background-color: #232732;
}

.purple-bg {
    background-color: #4A2A39;
}

.green-bg {
    background-color: #A3CDBC;
}

.grey-bg {
    background-color: #7B8693;
}

.blue-bg {
    background-color: #33C3C0 !important;
}

.no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 20px;
    box-shadow: 1px;
    -webkit-box-shadow: 0px -2px 9px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -2px 9px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
}

@-webkit-keyframes outerRotate1 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-moz-keyframes outerRotate1 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-o-keyframes outerRotate1 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes outerRotate1 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes outerRotate2 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@-moz-keyframes outerRotate2 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@-o-keyframes outerRotate2 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes outerRotate2 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@-webkit-keyframes textColour {
    0% {
        color: #fff;
    }
    100% {
        color: #3BB2D0;
    }
}

@-moz-keyframes textColour {
    0% {
        color: #fff;
    }
    100% {
        color: #3BB2D0;
    }
}

@-o-keyframes textColour {
    0% {
        color: #fff;
    }
    100% {
        color: #3BB2D0;
    }
}

@keyframes textColour {
    0% {
        color: #fff;
    }
    100% {
        color: #3BB2D0;
    }
}

.e-loadholder {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
    width: 240px;
    height: 240px;
    border: 5px solid #1B5F70;
    border-radius: 120px;
    box-sizing: border-box;
}

.e-loadholder:after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
    content: " ";
    display: block;
    background: #eee;
    transform-origin: center;
    z-index: 0;
}

.e-loadholder:after {
    width: 100px;
    height: 105px;
    -webkit-animation: outerRotate2 30s infinite linear;
    -moz-animation: outerRotate2 30s infinite linear;
    -o-animation: outerRotate2 30s infinite linear;
    animation: outerRotate2 30s infinite linear;
}

.e-loadholder .m-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
    width: 200px;
    height: 200px;
    color: #888;
    text-align: center;
    border: 5px solid #2a93ae;
    border-radius: 100px;
    box-sizing: border-box;
    z-index: 20;
    text-transform: uppercase;
}

.e-loadholder .m-loader:after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
    content: " ";
    display: block;
    background: #eee;
    transform-origin: center;
    z-index: -1;
}

.e-loadholder .m-loader:after {
    width: 100px;
    height: 106%;
    -webkit-animation: outerRotate1 15s infinite linear;
    -moz-animation: outerRotate1 15s infinite linear;
    -o-animation: outerRotate1 15s infinite linear;
    animation: outerRotate1 15s infinite linear;
}

.e-loadholder .m-loader .e-text {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
    -webkit-animation: textColour 1s alternate linear infinite;
    -moz-animation: textColour 1s alternate linear infinite;
    -o-animation: textColour 1s alternate linear infinite;
    animation: textColour 1s alternate linear infinite;
    display: block;
    width: 140px;
    height: 140px;
    text-align: center;
    border: 5px solid #3bb2d0;
    border-radius: 70px;
    box-sizing: border-box;
    z-index: 20;
}

.e-loadholder .m-loader .e-text:before,
.e-loadholder .m-loader .e-text:after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
    content: " ";
    display: block;
    background: #eee;
    transform-origin: center;
    z-index: -1;
}

.e-loadholder .m-loader .e-text:before {
    width: 110%;
    height: 40px;
    -webkit-animation: outerRotate2 3.5s infinite linear;
    -moz-animation: outerRotate2 3.5s infinite linear;
    -o-animation: outerRotate2 3.5s infinite linear;
    animation: outerRotate2 3.5s infinite linear;
}

.e-loadholder .m-loader .e-text:after {
    width: 40px;
    height: 110%;
    -webkit-animation: outerRotate1 8s infinite linear;
    -moz-animation: outerRotate1 8s infinite linear;
    -o-animation: outerRotate1 8s infinite linear;
    animation: outerRotate1 8s infinite linear;
}

#particleCanvas-White {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
    width: 100%;
    height: 50%;
    opacity: 0.1;
}

#particleCanvas-Blue {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
    width: 300px;
    height: 300px;
}

.pinkBg {
    background-color: rgb(30, 230, 226)!important;
    background-image: linear-gradient(90deg, #33C3C0, #A3CDBC);
}

.intro-banner-vdo-play-btn {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin: -30px 0 0 -30px;
    border-radius: 100px;
    z-index: 1
}

.intro-banner-vdo-play-btn i {
    line-height: 56px;
    font-size: 30px
}

.intro-banner-vdo-play-btn .ripple {
    position: absolute;
    width: 160px;
    height: 160px;
    z-index: -1;
    left: 50%;
    top: 50%;
    opacity: 0;
    margin: -80px 0 0 -80px;
    border-radius: 100px;
    -webkit-animation: ripple 1.8s infinite;
    animation: ripple 1.8s infinite
}

@-webkit-keyframes ripple {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes ripple {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.intro-banner-vdo-play-btn .ripple:nth-child(2) {
    animation-delay: .3s;
    -webkit-animation-delay: .3s
}

.intro-banner-vdo-play-btn .ripple:nth-child(3) {
    animation-delay: .6s;
    -webkit-animation-delay: .6s
}

.search_container {
    position: relative;
}

.search_btn {
    position: absolute;
    height: 60px;
    width: 60px;
    background: #34495e;
    right: -60px;
    top: 0;
    bottom: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.search_open::after {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-size: 25px;
    font-weight: 700;
    color: white;
}

.search_close::after {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-size: 25px;
    font-weight: 700;
    color: white;
}

.search {
    background: #576574;
    height: 60px;
    width: 0;
    display: flex;
    align-items: center;
    transition: all 0.6s;
}

.search_active {
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 80px;
}

.search input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    color: white;
    caret: white;
}

.search input::placeholder {
    color: #ecf0f1;
}

.search input:focus {
    border: 0;
    outline: 0;
    box-shadow: 0;
}

.search .go_btn {
    position: absolute;
    right: -60px;
    height: 30px;
    width: 60px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background: #e74c3c;
    transition: all 0.5s;
    cursor: pointer;
}

.search_active_go_btn {
    right: 10px !important;
}