.nav-item a {
    color: #232732;
    text-align: center;
}

.darkBlue {
    color: #232732;
}

.purple {
    color: #4A2A39;
}

.green {
    color: #A3CDBC;
}

.grey {
    color: #7B8693;
}

.blue {
    color: #33C3C0;
}

.darkBlue-bg {
    background-color: #232732;
}

.purple-bg {
    background-color: #4A2A39;
}

.green-bg {
    background-color: #A3CDBC;
}

.grey-bg {
    background-color: #7B8693;
}

.blue-bg {
    background-color: #33C3C0 !important;
}

.no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 20px;
    box-shadow: 1px;
    -webkit-box-shadow: 0px -2px 9px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -2px 9px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
}